option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: pokemon/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pokemon.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  03_permissao_arquivo_sqlite:
    command: "chmod 666 db.sqlite3"
  04_permissao_pasta_sqlite:
    command: "chmod 777 ."
  05_superuser:
    command: "source /var/app/venv/*/bin/activate && DJANGO_SUPERUSER_USERNAME=admin DJANGO_SUPERUSER_EMAIL=admin@admin.com DJANGO_SUPERUSER_PASSWORD=123456 python3 manage.py createsuperuser --noinput || true"
    leader_only: true